.vra-drawer,
.vra-attribute,
.vra-drawer textarea {
    margin-bottom: 1rem;
}

.vra-subelement + .vra-subelement,
.vra-element-inputs + .vra-element-inputs {
    margin-top: 1rem;
    border-top: 1px solid #dfdfdf;
    padding-top: 1rem;
}

.vra-drawer .vra-drawer + .vra-drawer,
.element-add,
.subelement-add {
    margin-top: 1rem;
}

.vra-drawer .vra-drawer,
.inputs .vra-drawer label {
    margin-bottom: 0;
}

.inputs .vra-drawer button.drawer-toggle,
.inputs .vra-drawer label.drawer-name {
    margin-bottom: 0;
    padding-bottom: 0;
}