span.vra-core-attribute-name {
    padding-right: 5px;
}

ul.vra-core-attributes {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.vra-core-element-name {
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}